body 
{
	font-size:9pt;
	position: absolute;
	width: 816px;
	height: 1247px;
	border: thin black solid;
	font-family: Helvetica;
}


.equis
{
	background-image:url(x.png);
	background-repeat:no-repeat;
	background-position:0 0;

}
#fondo
{
	position: absolute;
	left:8px;
	top:10px;
	width: 796px;
	height: 1227px;
	background-image:url(carne_PRENATAL_FINAL.png);
	background-repeat:no-repeat;
	background-position:0 0;
	background-size: 796px 1227px;	
}

#id_historia
{
	font-size:12pt;
	font-weight:bold;
	position:absolute;
	left:519px;
	top:114px;
}

#no_paciente
{
	font-size:12pt;
	font-weight:bold;
	position:absolute;
	left:696px;
	top:117px;
}


#nombreafi
{
	font-size:7pt;
	font-weight:bold;
	position:absolute;
	left:22px;
	top:187px;
}
#dirafi
{
	font-size:7pt;
	font-weight:bold;
	position:absolute;
	left:197px;
	top:187px;
}
#ciuafi
{
	font-size:7pt;
	font-weight:bold;
	position:absolute;
	left:328px;
	top:187px;	
}

#telafi
{
	font-size:7pt;
	font-weight:bold;
	position:absolute;
	left:445px;
	top:187px;
}



#edad_afi
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:26.5px;
	top:210.5px;	
}

/*antecedentes ginecologicos*/

#gestas_previas
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:343.5px;
	top:264px;	
}
#partos_ginec
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:344.2px;
	top:297.5px;	
}
#abortos_ginec
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:388.4px;
	top:264px;	
}

#vaginales
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:416.5px;
	top:288px;	
}

#cesareas
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:416.5px;
	top:314px;	
}

#nacidos_vivos
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:468.6px;
	top:288px;	
}

#nacidos_muertos
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:468.6px;
	top:314px;		
}

#viven_ginec
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:543.5px;
	top:259.5px;	
}

#muertos_1sem
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:543.5px;
	top:288px;	
}

#muertos_despues
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:543.5px;
	top:314px;	
}

#peso_anterior
{
	font-size:8.3pt;
	font-weight:normal;
	position:absolute;
	left:30.5px;
	top:374px;		
}

#talla
{
	font-size:8.3pt;
	font-weight:normal;
	position:absolute;
	left:82.2px;
	top:374px;		
}

#no_gestacion
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:142px;
	top:370px;			
}

#cigarrillos_dia
{
	font-size:9pt;
	font-weight:normal;
	position:absolute;
	left:443px;
	top:372.5px;				
}

#pri_dosis
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:615.5px;
	top:370px;
}

#seg_dosis
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:632.5px;
	top:370px;
}

#tipo_sangre
{
	font-size:7pt;
	font-weight:normal;
	position:absolute;
	left:147px;
	top:402px;
}

#hb_menor
{
	font-size:11pt;
	font-weight:normal;
	position:absolute;
	left:555.3px;
	top:397px;
}

#hb_mayor
{
	font-size:11pt;
	font-weight:normal;
	position:absolute;
	left:605.7px;
	top:397px;
}

#ano_fum
{
	font-size:8pt;
	font-weight:normal;
	position:absolute;
	left:196px;
	top:369px;
}

#mes_fum
{
	font-size:8pt;
	font-weight:normal;
	position:absolute;
	left:210px;
	top:369px;
}

#dia_fum
{
	font-size:8pt;
	font-weight:normal;
	position:absolute;
	left:223.5px;
	top:369px;
}

#ano_nacimiento
{
	font-size:8pt;
	font-weight:normal;
	position:absolute;
	left:735px;
	top:185px;
}
#mes_nacimiento
{
	font-size:8pt;
	font-weight:normal;
	position:absolute;
	left:753px;
	top:185px;
}
#dia_nacimiento
{
	font-size:8pt;
	font-weight:normal;
	position:absolute;
	left:771px;
	top:185px;
}

#ano_fpp
{
	font-size:8pt;
	font-weight:normal;
	position:absolute;
	left:251px;
	top:369px;
}
#mes_fpp
{
	font-size:8pt;
	font-weight:normal;
	position:absolute;
	left:270px;
	top:369px;
}
#dia_fpp
{
	font-size:8pt;
	font-weight:normal;
	position:absolute;
	left:285px;
	top:369px;
}

#ano_fpp_cab
{
	font-size:8pt;
	font-weight:normal;
	position:absolute;
	left:701.5px;
	top:152px;
}
#mes_fpp_cab
{
	font-size:8pt;
	font-weight:normal;
	position:absolute;
	left:729px;
	top:152px;
}
#dia_fpp_cab
{
	font-size:8pt;
	font-weight:normal;
	position:absolute;
	left:754px;
	top:152px;
}

#ano_fin
{
	font-size:9pt;
	font-weight:normal;
	position:absolute;
	left:603px;
	top:265.5px;
}
#mes_fin
{
	font-size:9pt;
	font-weight:normal;
	position:absolute;
	left:627px;
	top:265.5px;
}
#dia_fin
{
	font-size:9pt;
	font-weight:normal;
	position:absolute;
	left:651px;
	top:265.5px;
}

#duracion_estudio
{
	font-size:11pt;
	font-weight:normal;
	position:absolute;
	left:570px;
	top:209.2px;	
}
/*fecha ingreso */
#dia_ingreso
{
	font-size:9pt;
	font-weight:normal;
	position:absolute;
	left:96.5px;
	top:750px;		

}

#mes_ingreso
{
	font-size:9pt;
	font-weight:normal;
	position:absolute;
	left:78px;
	top:750px;	
}

#ano_ingreso
{
	font-size:9pt;
	font-weight:normal;
	position:absolute;
	left:59px;
	top:750px;	
}

#consulta_prenatal
{
	font-size:11pt;
	font-weight:normal;
	position:absolute;
	left:130px;
	top:752px;		
}

#hospitalizacion_dias
{
	font-size:11pt;
	font-weight:normal;
	position:absolute;
	left:191px;
	top:747px;			
}

#semana_corticoides
{
	font-size:11pt;
	font-weight:normal;
	position:absolute;
	left:346px;
	top:740px;				
}

#semana_rupt
{
	font-size:11pt;
	font-weight:normal;
	position:absolute;
	left:529px;
	top:754px
}

/**

*/
#ano_membrana
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:483px;
	top:741px
}

#mes_membrana
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:502.3px;
	top:741px
}

#dia_membrana
{
	font-size:10pt;
	font-weight:normal;
	position:absolute;
	left:521px;
	top:741px
}	

#hora_membrana
{
	font-size:11pt;
	font-weight:normal;
	position:absolute;
	left:483px;
	top:754px	
}

#minute_membrana
{
	font-size:11pt;
	font-weight:normal;
	position:absolute;
	left:502.3px;
	top:754px	
}

#horas_parto_ruptura
{
	font-size:11pt;
	font-weight:normal;
	position:absolute;
	left:612px;
	top:754px		
}

#eg_parto_semanas
{
	font-size:11pt;
	font-weight:normal;
	position:absolute;
	left:677px;
	top:747px		
}

#eg_parto_dias
{
	font-size:11pt;
	font-weight:normal;
	position:absolute;
	left:706px;
	top:747px			
}

/*fecha hora parto*/

#ano_parto
{
	font-size:9pt;
	font-weight:normal;
	position:absolute;
	left:170px;
	top:804.5px			
}

#mes_parto
{
	font-size:9pt;
	font-weight:normal;
	position:absolute;
	left:185.3px;
	top:804.5px			
}

#dia_parto
{
	font-size:9pt;
	font-weight:normal;
	position:absolute;
	left:200.2px;
	top:804.5px			
}

#hora_parto
{
	font-size:9pt;
	font-weight:normal;
	position:absolute;
	left:173px;
	top:791px			
}

#minute_parto
{
	font-size:9pt;
	font-weight:normal;
	position:absolute;
	left:197px;
	top:791px			
}

#multiple_orden
{
	font-size:9pt;
	font-weight:normal;
	position:absolute;
	left:237px;
	top:806px				
}

#multiple_fetos
{
	font-size:9pt;
	font-weight:normal;
	position:absolute;
	left:257px;
	top:806px			
}

#induccion_cod
{
	font-size:8pt;
	font-weight:normal;
	position:absolute;
	left:363px;
	top:821px;			
}
#operatorio_cod
{
	font-size:8pt;
	font-weight:normal;
	position:absolute;
	left:430px;
	top:821px;		
}

#nombre_atendio_parto
{
	font-size:8pt;
	font-weight:normal;
	position:absolute;
	left:134px;
	top:911px;
	text-transform: capitalize;; 			
}